@use "../abstracts/mixins";
@use "../abstracts/variables";

// hero Section Styles
.hero {
    position: relative;
    overflow: hidden;
    height: 95dvh;
    .hero-content-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        padding: 8rem 2.4rem 4rem 2.4rem;

        .hero-content-top {
            display: flex; 
            justify-content: space-between;
            align-items: end;

            .intro {
                font-size: 3.2rem;
                font-weight: 500;
                max-width: 50rem;
            }

            .description {
                color: #6B6B6B;
                font-size: 2rem;
                font-weight: 400;
                max-width: 50rem;
            }
        }

        .hero-content-bottom {
            position: absolute;
            bottom:0;
            right: 2.4rem;

            .hero-text-animation {
                font-size: 40rem;
                line-height: 1;
                font-weight: 700;
                color: #171717;
                letter-spacing: -0.1em;
                text-transform: uppercase;
            }
        }
    }
}

// About Section Styles
.about {
    padding: 1.6rem 2.4rem;
    border-top: 1px solid #1717172c;
    height: 100dvh;
    position: relative;
    overflow: hidden;

    .about-content-wrap {
        display: flex;
        flex-direction: column;
        gap: 6.4rem;

        .about-content-top {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        .about-content-middle {
            display: flex;
            justify-content: space-between;
            width: 100%;
            gap: 2rem;

            p {
                font-size: 2.8rem;
                max-width: 50%;
                font-weight: 400;

                .about-desc-link {
                    font-size: 2rem;
                    font-weight: 500;
                }
            }
        }

        .about-content-bottom {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 3.2rem;

            .list {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;

                .list-label {
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: #6B6B6B
                }

                .list-items {
                    font-size: 2.4rem;
                }
            }
        }

        .about-content-image {
            position: absolute;
            bottom: 4.8rem;
            right: 2.4rem;
        }
    }
}

// Works Section Styles
.works {
    padding: 1.6rem 2.4rem 20rem 2.4rem;
    border-top: 1px solid #1717172c;
    position: relative;
    overflow: hidden;

    .works-content-wrap {
        display: flex;
        flex-direction: column;
        gap: 6.4rem;

        .works-content-top {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        .works-content-middle {
            display: flex;
            justify-content: space-between;
            width: 100%;
            gap: 2rem;

            .works-description {
                font-size: 3.2rem;
                max-width: 45%;
                font-weight: 400;
            }
        }

        .works-content-bottom {
            display: flex;
            flex-direction: column;
            gap: 6.4rem;

            .work-item {
                display: flex;
                border-top: 1px solid #1717172c;
                padding-top: 6.4rem;
                flex-direction: row;
                gap: 6.4rem;
                &:first-child {
                    border-top: none;
                    padding-top: 0;
                }

                .work-item-images {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    width: 100%;
                    gap: 1.6rem;

                    .work-item-image {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .work-item-info {
                    display: flex;
                    width: 50%;
                    flex-direction: column;
                    align-items: end;
                    justify-content: space-between;
                    gap: 3.2rem;

                    .work-item-info-start{
                        display: flex;
                        align-items: end;
                        text-align: right;
                        flex-direction: column;
                        gap: 0.4rem;

                        .work-item-name {
                            font-size: 2.4rem;
                            font-weight: 500;
                        }
    
                        .work-item-description {
                            font-size: 2rem;
                            font-weight: 400;
                            color: #6B6B6B;
                            max-width: 50%;
                        }
                    }

                    .work-item-categories {
                        font-size: 1.8rem;
                        color: #6B6B6B;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
.section-name, .number-section {
    font-size: 1.4rem;
    font-weight: 500;
    color: #171717;
}