@use "../abstracts/mixins";
@use "../abstracts/variables";

// hero Section Styles
.hero {
    position: relative;
    overflow: hidden;
    height: 95dvh;
    .hero-content-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        padding: 8rem 2.4rem 4rem 2.4rem;

        @include mixins.tablet {
            padding: 8rem 4.8rem 4rem 4.8rem;
        }

        @include mixins.mobile {
            padding: 8rem 4.8rem 4rem 4.8rem;
        }

      

        .hero-content-top {
            display: flex; 
            justify-content: space-between;
            align-items: end;

            @include mixins.tablet {
                flex-direction: column;
                justify-content: start;
                align-items: start;
                gap: 2rem;
            }

            @include mixins.mobile {
                flex-direction: column;
                justify-content: start;
                align-items: start;
                gap: 2rem;
            }
            

            .intro {
                font-size: 3.2rem;
                font-weight: 500;
                max-width: 50rem;

                @include mixins.tablet {
                    font-size: 6.4rem;
                    max-width: 60%;
                }

                @include mixins.mobile {
                    font-size: 10rem;
                    max-width: 80%;
                }
            }

            .description {
                color: #6B6B6B;
                font-size: 2rem;
                font-weight: 400;
                max-width: 50rem;

                @include mixins.tablet {
                    font-size: 4rem;
                    max-width: 60%;
                }

                @include mixins.mobile {
                    font-size: 6rem;
                    max-width: 80%;
                }
            }
        }

        .hero-content-bottom {
            position: absolute;
            bottom:0;
            right: 2.4rem;

            .hero-text-animation {
                font-size: 40rem;
                line-height: 1;
                font-weight: 700;
                color: #171717;
                letter-spacing: -0.1em;
                text-transform: uppercase;

                @include mixins.tablet {
                    font-size: 45rem;
                }
            }
        }
    }
}



// About Section Styles
.about {
    padding: 1.6rem 2.4rem;
    border-top: 1px solid #1717172c;
    height: 100dvh;
    position: relative;
    overflow: hidden;
    @include mixins.tablet {
        padding: 1.6rem 4.8rem;
    }
    @include mixins.mobile {
        padding: 1.6rem 4.8rem;
    }

    .about-content-wrap {
        display: flex;
        flex-direction: column;
        gap: 6.4rem;

        .about-content-top {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        .about-content-middle {
            display: flex;
            justify-content: space-between;
            width: 100%;
            gap: 2rem;

            p {
                font-size: 2.8rem;
                max-width: 50%;
                font-weight: 400;

                .about-desc-link {
                    font-size: 2rem;
                    font-weight: 500;
                }

                @include mixins.tablet {
                    font-size: 4rem;
                    max-width: 60%;

                    .about-desc-link {
                        font-size: 3.2rem;
                    }
                }

                @include mixins.mobile {
                    font-size: 6rem;
                    max-width: 80%;

                    .about-desc-link {
                        font-size: 5.6rem;
                    }
                }
            }
        }

        .about-content-bottom {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 3.2rem;

            @include mixins.tablet {
                grid-template-columns: 1fr 1fr;
            }

            @include mixins.mobile {
                grid-template-columns: 1fr; 
                gap: 6.4rem;
            }

            .list {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;

                .list-label {
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: #6B6B6B
                }

                .list-items {
                    font-size: 2.4rem;
                }

                @include mixins.tablet {
                    font-size: 3.2rem;

                    .list-label {
                        font-size: 3.2rem;
                    }

                    .list-items {
                        font-size: 3rem;
                    }
                }

                @include mixins.mobile {
                    font-size: 4rem;

                    .list-label {
                        font-size: 4.8rem;
                    }

                    .list-items {
                        font-size: 5.6rem;
                    }
                }
            }
        }

        .about-content-image {
            position: absolute;
            bottom: 4.8rem;
            right: 2.4rem;

            @include mixins.tablet {
                bottom: 7rem;
                width: 60rem;
            }
            @include mixins.mobile {
                bottom: 10rem;
                width: 80rem;
            }
        }
    }
}

// Works Section Styles
.works {
    padding: 1.6rem 2.4rem 20rem 2.4rem;
    border-top: 1px solid #1717172c;
    position: relative;
    overflow: hidden;

    @include mixins.tablet {
        padding: 1.6rem 4.8rem 20rem 4.8rem;
    }
    @include mixins.mobile {
        padding: 1.6rem 4.8rem 20rem 4.8rem;
    }

    .works-content-wrap {
        display: flex;
        flex-direction: column;
        gap: 6.4rem;

        .works-section-description {
            font-size: 3.2rem;
            max-width: 45%;
            font-weight: 400;

            @include mixins.tablet {
                font-size: 4rem;
            }
            
            @include mixins.mobile {
                font-size: 6rem;
                max-width: 60%;
            }
        }

        

        .works-content-top {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        .works-content-middle {
            display: flex;
            justify-content: space-between;
            width: 100%;
            gap: 2rem;

            .works-description {
                font-size: 3.2rem;
                max-width: 45%;
                font-weight: 400;

                @include mixins.tablet {
                    font-size: 4rem;
                    max-width: 100%;
                }
            }

           
        }

        .works-content-bottom {
            display: flex;
            flex-direction: column;
            gap: 6.4rem;

            .work-item {
                position: relative;
                display: flex;
                padding-top: 6.4rem;
                flex-direction: row;
                gap: 6.4rem;
                &:first-child {
                    padding-top: 0;
                }

                @include mixins.mobile {
                    flex-direction: column;
                }

                .work-item-hr {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 1px;
                    margin: 0;
                    border: none;
                    background: #1717172c;
                }

                .work-item-images {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    width: 100%;
                    gap: 1.6rem;
                    overflow: hidden;

                    @include mixins.mobile {
                       display: flex;
                       overflow-x: auto;
                       scroll-snap-type: x mandatory;
                       -webkit-overflow-scrolling: touch;
                       -ms-overflow-style: none;
                       scrollbar-width: none;
                       &::-webkit-scrollbar {
                        display: none;
                       }
                       &::-webkit-scrollbar-thumb {
                        display: none;
                       }
                       &::-webkit-scrollbar-track {
                        display: none;
                       }
                       &::-webkit-scrollbar-corner {
                        display: none;
                       }
                    }

                    .work-item-image {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        will-change: clip-path;

                        @include mixins.mobile {
                            width: 100%;
                            height: auto;
                            object-fit: cover;
                            will-change: clip-path;
                            scroll-snap-align: start;
                        }
                    }
                }

                .work-item-info {
                    display: flex;
                    width: 30%;
                    flex-direction: column;
                    align-items: end;
                    justify-content: space-between;
                    gap: 3.2rem;

                    @include mixins.mobile {
                        width: 100%;
                        align-items: start;
                    }

                    .work-item-info-start{
                        display: flex;
                        align-items: end;
                        text-align: right;
                        flex-direction: column;
                        gap: 0.4rem;

                        @include mixins.mobile {
                            align-items: start;
                            text-align: left;
                            gap: 1.6rem;
                        }

                        .work-item-name {
                            font-size: 2.4rem;
                            font-weight: 500;

                            @include mixins.tablet {
                                font-size: 3.2rem;
                            }
                            @include mixins.mobile {
                                font-size: 5.6rem;
                            }
                        }
    
                        .work-item-description {
                            font-size: 2rem;
                            font-weight: 400;
                            color: #6B6B6B;

                            @include mixins.tablet {
                                font-size: 3rem;
                                max-width: 100%;
                            }
                            @include mixins.mobile {
                                font-size: 5rem;
                                text-align: left;
                            }
                        }
                    }

                    .work-item-categories {
                        font-size: 1.8rem;
                        color: #6B6B6B;
                        font-weight: 500;

                        @include mixins.tablet {
                            font-size: 2.6rem;
                        }

                        @include mixins.mobile {
                            font-size: 4rem;
                        }
                    }
                }
            }
        }
    }
}
.section-name, .number-section {
    font-size: 1.4rem;
    font-weight: 500;
    color: #171717;

    @include mixins.tablet {
        font-size: 2.8rem;
    }
    @include mixins.mobile {
        font-size: 4.2rem;
    }
}