.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem;

    .logo-text {
        font-size: 2rem;
        font-weight: 600;
    }

    .navigations {
        display: flex;
        gap: 2.4rem;

        a {
            font-size: 1.6rem;
            font-weight: 500;
        }
    }
}